{% extends 'base.html.twig' %}

{% block title %}Reset Password with Token{% endblock %}

{% block body %}
	<h1>Reset Password</h1>

	{{ form_start(resetPasswordTokenForm, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_row(resetPasswordTokenForm.password) }}
        {{ form_row(resetPasswordTokenForm.submit) }}
	{{ form_end(resetPasswordTokenForm) }}
{% endblock %}
